:root {
    --star: "\00a2";
    --planet: "\00a5";
    --whirl: "\00a3";
    --moon: "\00a4";
    --red: rgb(200, 0, 0);
    --blue: rgb(0, 0, 200);
    --black: rgb(0, 0, 0);
    --red-on-blue: rgb(160, 0, 60);
    --red-on-black: rgb(100, 0, 0);
    --blue-on-red: rgb(60, 0, 160);
    --blue-on-black: rgb(0, 0, 100);
    /* --quad-size: 30px; fallback fallback (if clamp and vmin are not supported) */
    /* --quad-size: 8vh;  fallback (if clamp is not supported) */
    --quad-size: 9vh;
    --button-size: 15vh;
}

 @media (orientation: landscape) { 
    #game{
        background-color: silver;
        display: flex;
        flex-direction: row;
    }
  }

.reg_button {
    padding: 5px;
    margin: 3px;
}

#game {
    /* padding: 20px; */
    font-size: xx-large;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    /* background-color: silver; */
}

#board {
    display: grid;
    /* margin: calc(var(--quad-size) / 2) 0; */
    grid-template-columns: repeat(10, 100fr);
    width: 50px;
}

.square {
    /* width: var(--quad-size);
    height: var(--quad-size); */
    background-color: black;
}

#row4col4 {
    background-color: var(--blue);
}
#row4col5 {
    background-color: var(--blue);
}
#row5col4 {
    background-color: var(--red);
}
#row5col5 {
    background-color: var(--red);
}

#row4col4::after {
    /* content: var(--star); */
}
#row4col5::after {
    /* content: var(--planet); */
}
#row5col4::after {
    /* content: var(--whirl); */
}
#row5col5::after {
    /* content: var(--moon); */
}

#navigation {
    display: grid;
    grid-template-columns: repeat(3, var(--button-size));
}

.control_button {
    width: var(--button-size);
    height: var(--button-size);
    font-weight: bold;
}

#offer {
    display: grid;
    grid-template-columns: repeat(2, var(--quad-size));
    /* border: 3px solid blue; */
    justify-content: center;
    margin: 3px;
}

#unplayed {
    display: flex;
    flex-direction: row;
}

#controls {
    display: flex;
    flex-direction: column;
}

#non-nav {
    display: flex;
    flex-direction: column;

}
#end_turn {
    display: flex;
    flex-direction: column;

}

#new_game_and_rules {
    display: flex;
    flex-direction: column;

}

#offer_q1 {
    background-color: red;
}

#offer_q1::after {
    content: var(--whirl);
}