:root {
    --quad: 9vw;
    --nav: 20vw;
    --red-button: radial-gradient(ellipse at 20% 20%, #e9bcbc 0%, rgb(201, 61, 61) 50%, rgb(148, 17, 17) 100%);
    --red-disabled: radial-gradient(ellipse at 20% 20%, #e9bcbc 0%, rgb(201, 61, 61) 50%, rgb(83, 8, 8) 100%);
    --blue-button: radial-gradient(ellipse at 20% 20%, #bdbce9 0%, rgb(95, 104, 230) 50%, rgb(37, 17, 148) 100%);
    --blue-disabled: radial-gradient(ellipse at 20% 20%, #bdbce9 0%, rgb(95, 104, 230) 50%, rgb(15, 5, 70) 100%);
    background-color: black;
}

#game {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
}

button {
    all: unset;
    border-radius: 5px;
    flex: 1;
    margin: 0 0 2px 3px;
    background: var(--red-button);
}

button:active {
    background: var(--red-disabled);
}

button:disabled {
    opacity: .6;
}
#board {
    display: grid;
    grid-template-columns: repeat(10, var(--quad));
    grid-template-rows: repeat(10, var(--quad));
    justify-content: center;
}

.section {
    display: grid;
}
.section > * {
    grid-column-start: 1;
    grid-row-start: 1;
  }
#navigation {
    display: grid;
    grid-template-columns: repeat(3, var(--nav));
    grid-template-rows: repeat(3, var(--nav));
    grid-gap: 2px;
}

#non-nav {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.square {
    background-color: silver;
    width: var(--quad);
    height: var(--quad);

}

.overlay {
    background-color: red;
    opacity: .5;
    width: var(--quad);
    height: var(--quad);
}
.played {
    background-color: yellow;
    width: var(--quad);
    height: var(--quad);
    opacity: .5;

}
#offer {
    display: grid;
    grid-template-columns: repeat(2, var(--quad));
    justify-content: center;
    margin: 3px;
    align-content: center;
}

#controls {
    display: flex;
    flex-direction: row;
}

.control_button {
    background-color: silver;
}
#left_up {
    border-radius: 10px 0 0 0;
}
#right_up {
    border-radius: 0 10px 0 0;
}
#right_down {
    border-radius: 0 0 10px 0;
}
#left_down {
    border-radius: 0 0 0 10px;
}
@media (orientation: landscape) { 
    :root {
        --quad: 9vh;
        --nav: 20vh;
        }
    #game{
        display: flex;
        flex-direction: row;
    }
    #controls {
        display: flex;
        flex-direction: column-reverse;
    }
    #non-nav {
        min-height: unset;
        width: unset;
        display: grid;
        grid-template-columns: repeat(2, 30vh);
        grid-template-rows: repeat(2, 15vh);
        margin: 0;
    }
}