name: "Build service worker"

on:
  push:
    branches: [master]
  workflow_dispatch:

concurrency:
  group: gh-pages
  cancel-in-progress: true

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Switch branch
        run: |
          git config --global user.name ${{ github.actor }}
          git config --global user.email ${{ github.actor }}@gmail.com
          git remote set-url origin https://${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
          git status
          echo "about to checkout"
          git checkout gh-pages

      - name: Install requirements
        run: npm ci

      - name: Build
        run: npm run build

      - name: Push
        run: |
          git status
          git add .
          git commit -m "build service worker files"
          git push
